.post li {
  text-indent: -2em;
  padding-left: 3em;
}

.description {
  font-size: 12px;
  margin-bottom: 10px;
}

.projects-list {
  margin-bottom: 60px;
}

.projects-item {
  margin-bottom: 18px;
}

.projects-title {
  font-size: 28px;
}
