{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="projects-list">
              <div class="projects-item">
                <a href="http://tko.yifanchen.io/" target="_blank" class="projects-title">TKO</a>
                <p>Mixed Martial Arts fighter search providing stats and fight records</p>
              </div>
              <div class="projects-item">
                <a href="https://github.com/yc355/mma" target="_blank" class="projects-title">MMA</a>
                <p>Ruby gem for scraping the MMA website Sherdog</p>
              </div>
            </div>
            <div class="page-heading">Blog</div>
            <ul>
            {{ range .Data.Pages.ByPublishDate }}
                {{ if eq .Section "blog" }}
                    {{ partial "li.html" . }}
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
